$colorParrafos: rgb(0, 0, 0);
$colorFondo: rgb(255, 255, 255);
$colorTitulo: rgb(8, 71, 27);
$colorImagen: rgb(170, 154, 154);
$colorTexto: black;
$colorTituloHover: red;
$colorTituloPrincipal: rgb(0, 53, 35)